<%- include("../partials/admin_header") %>


   <h1 class="text-center  font-weight-light font-italic"> <i class="fas fa-wrench"></i> DASHBOARD</h1>
   <hr>
  <div class="row">



    <!-- Main Editing Area  -->
    <div class="col-md-9" style="margin: 0px auto">


      <!-- Admin All orders section -->
      <div class="container" id="all_orders">

        <h3 class="text-capitalize font-weight-normal font-italic">All Orders</h3>
        <hr>

        <div class="row text-center ">
            <table class="table">
                <thead>
                  <tr class="text-center">
                      
                    
                    <th scope="col">S.No</th>
                    <th scope="col">Order Id</th>
                    <th scope="col">User</th>
                    <th scope="col">Product</th>
                    <th scope="col">Title</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Pricex1</th>
                    <th scope="col">Total</th>
                  </tr>
                </thead>
                <tbody>
                    
                    <% var total = 0 %>
                    <% orders.forEach(function(order,count) {%>
                        <% var sub = (order.cart[0].qty * order.cart[0].price) %>
                        <% total=+sub %> 
                  <tr class="text-center">
                    <th scope="row"><%=count%></th>
                    <th><%=order.id%></th>
                    <th ><%=order.username%></th>
                    <td><img src="<%=order.cart[0].image%>" alt="" width="100px" height="100px"></td>
                    <td><%=order.cart[0].title%></td>
                    <td><%=order.cart[0].qty%></td>
                    <td>₹<%=order.cart[0].price%></td>
                    <td> Rs.<%=total %></td>
                  </tr>
                  
                  <% }); %>
                </tbody>
            </table>
        </div>
      </div>
<hr>
      <!-- Admin All User section -->
      <div class="container" id="all_users" style="margin: 100px auto">

        <h3 class="text-capitalize font-weight-normal font-italic">Users </h3>
        <hr>

        <div class="row text-center ">
          <% users.forEach(function(user){ %>
            <div class="col-md-3 col-sm-6">
                  <figure class="figure">
                      <a href="/users/profile/<%= user._id %>">
                        <%if(user.gender == "male"){%>
                            <img src="https://cdn0.iconfinder.com/data/icons/avatars-6/500/Avatar_boy_man_people_account_client_male_person_user_work_sport_beard_team_glasses-512.png" class="card-img-top" alt="...">
                            <%} else {%>
                                <img src="/images/femaleavatar.jpg" class="card-img-top" alt="">
                                <%}%>
                        <!-- Show User Name  -->
                        <% if(!user.name) { %>
                          <figcaption class="figure-caption text-capitalize font-italic"><%= user.name %></figcaption>
                        <% } else { %>
                          <figcaption class="figure-caption text-capitalize font-italic"><%= user.username %></figcaption>
                        <% }; %>
                      </a>
                      <!-- Show Edit/Delete Button  -->
                      <hr>
                      <% if (user && user.admin ==1) { %>
                        <h6 class="text-normal font-italic">Admin</h6>
                      <% } else if( user.admin ==1 ){ %>
                          <a  id="clr" class="btn btn-sm btn-primary" href="/users/profile<%= user._id %>/edit"><i class="fas fa-pen"></i> Edit </a>
                        
                          <form id="delete" class="delete-form" action = "/users/profile/<%= user._id %>?_method=DELETE" method="POST">
                              <button class="btn btn-sm btn-danger"><i class="fas fa-trash-alt"></i> Delete</button>
                          </form>
                      <% } else { %>
                        <h6 class="text-normal font-italic">User</h6>
                        <% } %>
                    </figure>
                </div>
            <% }); %>
        </div>


      </div>


    </div>
  </div>


<%- include("../partials/admin_footer") %>